@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Quicksand", sans-serif;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-sans flex items-center justify-center;
}

.blue_btn {
  @apply rounded-xl border border-[#575cff] bg-[#575cff] py-1.5 px-5 text-white transition-all hover:bg-white hover:text-[#575cff] text-center text-sm font-sans flex items-center justify-center;
}

.blue_topbar {
  @apply bg-[#575cff] text-white;
}

.app {
  @apply relative z-10 max-w-7xl mx-auto sm:px-16 px-6;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.gradient {
  position: absolute;
  z-index: -1; /* Push it behind all content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      at 27% 37%,
      rgba(245, 235, 220, 1) 0px,
      transparent 80%
    ),
    radial-gradient(at 52% 99%, rgba(240, 230, 210, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgba(255, 245, 230, 0.8) 0px, transparent 60%),
    radial-gradient(at 97% 96%, rgba(250, 240, 220, 0.5) 0px, transparent 70%),
    radial-gradient(at 33% 50%, rgba(255, 255, 245, 0.8) 0px, transparent 60%),
    radial-gradient(at 79% 53%, rgba(240, 230, 200, 0.5) 0px, transparent 80%);
  filter: blur(60px) saturate(120%);
  opacity: 0.2; /* Subtle effect */
  pointer-events: none; /* Prevent interaction with the background */
}
